<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTPL</title>
</head>
<body>
    <section>
        <form action="/send" method="post" role="form" >
            <input type="text" name="ip">
            <input type="text" name="texto">
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>

</html>